body {
  font-family: sans-serif;
  margin: 50px auto;
  max-width: 720px;
  line-height: 1.6;
  font-size: 17px;
  color: #757575;
  background-color:#EFEFEF;
}

.textright {
    text-align: right;
}

.container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
}

a {
  color: #F07900;
  text-decoration:none;
}

a:hover {
  color:#757575;
}

h1 {
  margin-bottom: 0px;
} 

li {
  margin-top: 1em;
  display: inline;
  padding-right: 5px;
}

mark {
  background-color:#CAEBF2;
  color: #353535;
}

p {
  text-align:left;
}
