body {
  background-color:#F0F1F4;
  background: url(/assets/bg.jpg);
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  padding:50px;
  font: 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color:#F0F1F4;
  font-weight:400;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

a {
  color: #59AFFC;
  text-decoration:none;
}

a:hover {
  color:#F0F1F4;
}

.right a:hover {
  color:#202124;
}

.computer-architecture {
  color: #55BDCE;
  padding: 3px;
  border: 1px solid #55BDCE;
}

.computer-architecture:hover {
  color: #F0F0F0;
  background-color: #55BDCE;
}

.artificial-intelligence {
  color: #55BDCE;
  padding: 3px;
  border: 1px solid #55BDCE;
}

.artificial-intelligence:hover {
  color: #F0F0F0;
  background-color: #55BDCE;
}

.tutorial {
  color: #55BDCE;
  padding: 3px;
  border: 1px solid #55BDCE;
}

.tutorial:hover {
  color: #F0F0F0;
  background-color: #55BDCE;
}

.misc {
  color: #55BDCE;
  padding: 3px;
  border: 1px solid #55BDCE;
}

.misc:hover {
  color: #F0F0F0;
  background-color: #55BDCE;
}

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  width: 40%;
}

/* Control the right side */
.right {
  right: 0;
  width: 60%;
  text-align: left;
  background-color: rgba(240, 241, 244, 0.95);
  color: #202124;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.right-contents {
  padding: 50px;
  text-align: left;
}

blockquote {
  border-left:2px solid #959595;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

img.profile-photo {
  float:center;
  max-width:200px;
  border-radius: 50%;
  border: solid #f0f1f4 2px;
}

header {
  text-align:center;
  margin: auto;
  width:270px;
  -webkit-font-smoothing:subpixel-antialiased;
}

header ul {
  list-style:none;
  height:40px;
  padding:0;
  width:270px;
}

header li {
  width:89px;
  float: left;
  height:40px;
}

i {
  vertical-align: middle;
}

section {
  text-align:center;
  margin: auto;
  padding-bottom:50px;
}

small {
  font-size:11px;
}

p {
  word-wrap:break-word;
  overflow-wrap: break-word;
  margin:auto;
  padding: 0 0 20px;
}
