<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} {{page.subtitle}}</title>
    <script src="https://kit.fontawesome.com/4b1c35e57d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/assets/main.css">
  </head>
  <body>
      <header>
        <nav>
          <a href="/"><img src="/assets/logo.svg" height="70"></a>
        <ul>
          <li><a href="mailto: tolausso@exseed.ed.ac.uk"><i><i class="fas fa-envelope"></i></i></a></li>
            <li><a href="https://github.com/theoxo"><i><i class="fab fa-github"></i></i></a></li>
            <li><a href="/assets/resume.pdf"><b>CV &#8599;</b></a></li>
        </ul>
        </nav>
      </header>
      <main>
      <h2> {{ page.subtitle }}</h2>
      {{ page.content }}
      </main>
  </body>
</html>
