<!DOCTYPE html>
  <html>
    <head>
        <title>{{ page.title }} | {{page.subtitle}}</title>
       <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="/main.css">
    </head>
    <body>
      <nav>
        <ul>
            <li><a href="/"><i class="material-icons">home</i>Home</a></li>
            <li><a href="/contact"><i class="material-icons">email</i>Contact</a></li>
            <li><a href="https://github.com/theoxo" target="_blank">
                    <i class="material-icons">code</i>GitHub</a></li>
        </ul>
      </nav>
      <div class="container">
      <h1> {{ page.subtitle | upcase }} </h1>
      {{ content }}
      </div>
    </body>
  </html>
