<!DOCTYPE html>
  <html>
    <head>
        <title>{{ page.title }} | {{page.subtitle}}</title>
       <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="/assets/main.css">
    </head>
    <body>
      <div id="app" class="wrapper">
      <header>
        <img src="/assets/me.png" style="max-width: 270px; border-radius: 50%;" alt="A photo of me."><br/>
        <h1>Theo X Olausson</h1>
        <ul>
            <li><a href="/"><i class="material-icons">home</i>Home</a></li>
            <li><a href="/blog"><i class="material-icons">library_books</i>Blog</a></li>
            <li><a href="/contact"><i class="material-icons">email</i>Contact</a></li>
        </ul>
      </header>
      <section>
      <h1> {{ page.subtitle | capitalize }} </h1>
      {{ content }}
      </section>
      <footer>
        Theme based on <a href="https://orderedlist.com/minimal/">Minimal by orderedlist</a>.
      </footer>
    </body>
  </html>
