<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} {{page.subtitle}}</title>
    <script src="https://kit.fontawesome.com/4b1c35e57d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/assets/main.css">
  </head>
  <body>
      <header>
        <nav>
          <a href="/"><img src="/assets/logo.svg" height="70"></a>
        <ul>
          <li><a href="mailto: theoxo (chiocciola) csail.mit.edu"><i><i class="fas fa-envelope"></i></i></a></li>
            <li><a href="https://github.com/theoxo"><i><i class="fab fa-github"></i></i></a></li>
            <li><a href="/assets/resume.pdf"><b>CV &#8599;</b></a></li>
        </ul>
        </nav>
        <img src="/assets/me.jpg" style="max-width:200px; border-radius: 50%; border: solid #f0f1f4 2px;">
        <h1>Theo Olausson</h1>
        <p>
           I am a Ph.D. student in computer science at <a href="https://web.mit.edu/">MIT</a> working at the intersection of programming languages and machine learning.
           <br/>
           Lately, I have been particularly interested in <a href="http://www.neurosymbolic.org/">neurosymbolic</a> methods.
           <br/>
           More broadly, my interests revolve around applying mathematical techniques to difficult problems at the intersection of theory and practice in computer science.
        </p>
        <p>
           Before coming to MIT, I obtained a Masters degree in Informatics from the <a href="https://www.ed.ac.uk/informatics">University of Edinburgh</a>.
        </p>
      </header>
  </body>
</html>
