<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} {{page.subtitle}}</title>
    <script src="https://kit.fontawesome.com/4b1c35e57d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/assets/main.css">
  </head>
  <body>
      <header>
        <nav>
          <a href="/"><img src="/assets/logo.svg" height="70"></a>
        <ul>
          <li><a href="mailto: theoxo (chiocciola) csail.mit.edu"><i><i class="fas fa-envelope"></i></i></a></li>
            <li><a href="https://github.com/theoxo"><i><i class="fab fa-github"></i></i></a></li>
            <li><a href="/assets/resume.pdf"><b>CV &#8599;</b></a></li>
        </ul>
        </nav>
        <img src="/assets/me.jpg" style="max-width:200px; border-radius: 50%; border: solid #f0f1f4 2px;">
        <h1>Theo Olausson</h1>
        <p>
        I am a Ph.D. student in computer science at <a href="https://web.mit.edu/">MIT</a> working with <a href="https://people.csail.mit.edu/asolar/"> Prof. Armando Solar-Lezama</a>. I am extremely grateful to have been supported by a <a href="https://web.mit.edu/provost/presfellow/">Presidential Fellowship</a> ('21).
        </p>
        <p>
        Broadly speaking, I enjoy applying mathematical techniques to difficult problems at the intersection of theory and practice across computer science. My current research interests lie in <a href="http://www.neurosymbolic.org/">neurosymbolic AI</a>, (neural) program synthesis, and more generally the intersection of machine learning, programming and cognitive science.
        </p>
        <p>
        Before starting my PhD, I graduated at the top of my class with a Master's degree in Informatics from the <a href="https://www.ed.ac.uk/informatics">University of Edinburgh</a>.
        </p>
      </header>
  </body>
</html>
