<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} {{page.subtitle}}</title>
    <script src="https://kit.fontawesome.com/4b1c35e57d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/assets/main.css">
  </head>
  <body>
      <header>
        <nav>
          <a href="/"><img src="/assets/logo.svg" height="70"></a>
        <ul>
          <li><a href="mailto: tolausso@exseed.ed.ac.uk"><i><i class="fas fa-envelope"></i></i></a></li>
            <li><a href="https://github.com/theoxo"><i><i class="fab fa-github"></i></i></a></li>
            <li><a href="/assets/resume.pdf"><b>CV &#8599;</b></a></li>
        </ul>
        </nav>
        <img src="/assets/me.jpg" style="max-width:200px; border-radius: 50%; border: solid #f0f1f4 2px;">
        <h1>Theo Olausson</h1>
        <p>
            I study and research informatics at the <a href="https://www.ed.ac.uk/informatics">University of Edinburgh</a>.
            <br>
            I currently hold a funded studentship from the <a href="http://web.inf.ed.ac.uk/icsa/">Institute for Computing Systems Architecture</a>.
        </p>
        <p>
           My interests broadly revolve around applying mathematical techniques to difficult problems in computer science.
        </p>
        <p>
           Long-term, I hope to develop techniques which combine the strong guarantees of <mark>formal methods</mark>
           with the practical usefulness of <mark>machine learning</mark> so that
           we can create artificially intelligent systems which are safe, fair, and efficient.
        </p>
      </header>
      <main>
      <hr>
      <section>
        <header>
          <h2> Blog </h2>
        </header>
        {% for post in site.posts %}
        <aside onclick="location.href='{{ post.url }}';" style="cursor: pointer;">
          {% if post.frontimg %}
          <img src="{{ post.frontimg }}" style="height:150px;">
          {% endif %}
          <h3> {{ post.subtitle }} </h3>
          {{ post.excerpt | strip_html | truncatewords: 20 }}
          <br>
          <a href="{{ post.url }}">Read more &rarr;</a>
          <br>
          {% for topic in post.topics %}
          <sup> {{ topic }} </sup>
          {% endfor %}
          <p><small> {{ post.date | date: '%B %d, %Y' }} </small></p>
          </aside>
        {% endfor %}
      </section>
      </main>
  </body>
</html>
