<!DOCTYPE html>
<html>
  <head>
      <title>{{ page.title }} | {{page.subtitle}}</title>
     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/main.css">
  </head>
  <body>
    <div class="split left">
      <div class="centered">
        <header>
          <img src="/assets/me.jpg" class="profile-photo" alt="A photo of me."><br/>
          <h1>{{ page.title }}</h1>
          <ul>
              <li><a href="/"><i class="material-icons">home</i>Home</a></li>
              <li><a href="/blog"><i class="material-icons">library_books</i>Blog</a></li>
              <li><a href="/contact"><i class="material-icons">email</i>Contact</a></li>
          </ul>
        </header>
        <section>
          <p> Hi!
              I study Informatics <a href="https://www.ed.ac.uk/informatics">@UoE</a>.
          </p>
          <p>
              I'm interested in applying mathematical techniques to problems in
              computer science. If you want to, you can find out
              a bit more about my interests and background in my
              <a href="/assets/resume.pdf">resume</a>.
          </p>
        </section>
      </div>
    </div>
    <div class="split right">
      <div class="right-contents">
        <h1>{{ page.subtitle }}</h1>
      {{ content }}
      </div>
    </div>
  </body>
</html>
